---
  title: Marili André
  description: Identity for the fashion photographer and filmmaking artist
---

<div class="project-nav">
  <h2>Marili André</h2>
  <span>X of 29</span>
  <span>
    <a href="../stethoscore/">Previous</a> &thinsp;/&thinsp;
    <a href="../ailara-berdyyeva/">Next</a>
  </span>
</div>

<div class="project" id="marili-andre">

  <img class="clear side" width="1008" height="917"
    src="/images/marili-andre-screen.png">

</div>
