---
  title: "1975"
  description:
---

<div class="project-nav">
  <h2>1975</h2>
  <span>X of 29</span>
  <span>
    <a href="../thread/">Previous</a> &thinsp;/&thinsp;
    <a href="../plenti/">Next</a>
  </span>
</div>

<div class="project" id="1975">

</div>
