---
  title: Plenti
  description:
---

<div class="project-nav">
  <h2>Plenti</h2>
  <span>X of 23</span>
  <span>
    Previous &thinsp;/&thinsp;
    Next
  </span>
</div>

<div class="project" id="plenti">

</div>
