/* Variables */
$key-color: #FF1500;  /* Special Red */
$shade-1:   #222;     /* Headers */
$shade-2:   #777;     /* Body Text */
$shade-3:   #E0E0E0;  /* Borders */

@import "reset";
@import "type";
@import "theme";

@import "header";
@import "nav";

@import "home-page";
@import "featured-project";
@import "project-list";
@import "project-page";

@import "text-grid-system";
@import "images-grid-system";

@import "info";
@import "copyright";
@import "columns";

/* Media Queries */
@import "col-5";
@import "col-4";
@import "col-3";
@import "col-2";
@import "col-1";
