---
  title: Miti Ruangkritya
  description: Design and development of the website for the thai photojournalist
---

<div class="project-nav">
  <h2>Miti Ruangkritya</h2>
  <span>X of 23</span>
  <span>
    Previous &thinsp;/&thinsp;
    Next
  </span>
</div>

<div class="project" id="miti-ruangkritya">

  <img class="clear side" width="1008" height="917"
    src="/images/miti-ruangkritya-screen.png">

</div>
