---
  title: Thread for iOS
  description:
---

<div class="project-nav">
  <h2>Thread for iOS</h2>
  <span>X of 29</span>
  <span>
    <a href="../thread-v2/">Previous</a> &thinsp;/&thinsp;
    <a href="../pomodoro-for-apple-watch/">Next</a>
  </span>
</div>

<div class="project" id="thread-for-ios">

  <img class="clear third wireframe no-margin" width="640" height="1136"
    src="/images/thread-for-ios-wireframe-01.png">
  <img class="third wireframe no-margin" width="640" height="1136"
    src="/images/thread-for-ios-wireframe-02.png">
  <img class="third wireframe no-margin" width="640" height="1136"
    src="/images/thread-for-ios-wireframe-03.png">
  <div class="clear txt">
    <p>
      Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque
      penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </p>
  </div>

  <img class="clear third wireframe no-margin" width="640" height="1136"
    src="/images/thread-for-ios-wireframe-04.png">
  <img class="third wireframe no-margin" width="640" height="1136"
    src="/images/thread-for-ios-wireframe-05.png">
  <img class="third wireframe no-margin" width="640" height="1136"
    src="/images/thread-for-ios-wireframe-06.png">
  <div class="clear txt">
    <p>
      Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque
      penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </p>
  </div>

  <img class="clear third wireframe no-margin" width="640" height="1136"
    src="/images/thread-for-ios-wireframe-07.png">
  <img class="third wireframe no-margin" width="640" height="1136"
    src="/images/thread-for-ios-wireframe-08.png">
  <img class="third wireframe no-margin" width="640" height="1136"
    src="/images/thread-for-ios-wireframe-09.png">
  <div class="clear txt">
    <p>
      Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque
      penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </p>
  </div>

  <img class="clear third wireframe no-margin" width="640" height="1136"
    src="/images/thread-for-ios-wireframe-10.png">
  <img class="third wireframe no-margin" width="640" height="1136"
    src="/images/thread-for-ios-wireframe-11.png">
  <img class="third wireframe no-margin" width="640" height="1136"
    src="/images/thread-for-ios-wireframe-12.png">
  <div class="clear txt">
    <p>
      Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque
      penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </p>
  </div>

  <img class="clear third wireframe no-margin" width="640" height="1136"
    src="/images/thread-for-ios-wireframe-13.png">
  <img class="third wireframe no-margin" width="640" height="1136"
    src="/images/thread-for-ios-wireframe-14.png">
  <img class="third wireframe no-margin" width="640" height="1136"
    src="/images/thread-for-ios-wireframe-15.png">
  <div class="clear txt">
    <p>
      Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque
      penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </p>
  </div>

  <img class="clear third wireframe no-margin" width="640" height="1136"
    src="/images/thread-for-ios-wireframe-16.png">
  <img class="third wireframe no-margin" width="640" height="1136"
    src="/images/thread-for-ios-wireframe-17.png">
  <img class="third wireframe no-margin" width="640" height="1136"
    src="/images/thread-for-ios-wireframe-18.png">
  <div class="clear txt">
    <p>
      Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque
      penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </p>
  </div>

</div>
