---
  title: Lilias Buchanan
  description: Online portfolio for the portraitist illustrator and graphic designer
---

<div class="project-nav">
  <h2>Lilias Buchanan</h2>
  <span>X of 23</span>
  <span>
    Previous &thinsp;/&thinsp;
    Next
  </span>
</div>

<div class="project" id="lilias-buchanan">

  <!-- Work goes here -->

</div>
