---
  title: Lilias Buchanan
  description: Online portfolio for the portraitist illustrator and graphic designer
---

<div class="project-nav">
  <h2>Lilias Buchanan</h2>
  <span>X of 29</span>
  <span>
    <a href="../shooting-people/">Previous</a> &thinsp;/&thinsp;
    <a href="../jo-phipps/">Next</a>
  </span>
</div>

<div class="project" id="lilias-buchanan">

  <!-- Work goes here -->

</div>
