/* View */
/* line 6, all.css.scss */
body {
  margin: 0; }

/* Nav Bar */
/* line 11, all.css.scss */
header {
  width: 320px;
  height: 44px;
  position: fixed;
  top: 0;
  background: white url(../images/bg-nav-bar.png) 0 0 no-repeat;
  overflow: hidden;
  background-size: 100% auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.2); }
  /* line 20, all.css.scss */
  header.map {
    background: white url(../images/bg-nav-bar.png) 0 -44px no-repeat; }
  /* line 23, all.css.scss */
  header.activity {
    background: white url(../images/bg-nav-bar.png) 0 -88px no-repeat; }
  /* line 26, all.css.scss */
  header.profile {
    background: white url(../images/bg-nav-bar.png) 0 -132px no-repeat; }

/* line 31, all.css.scss */
section.feed {
  background: white url(../images/bg-view-feed.jpg) 0 0 repeat-y;
  background-size: 100% auto;
  float: left;
  width: 320px;
  padding: 44px 0 49px; }

/* line 39, all.css.scss */
.instagram {
  margin: 0;
  padding-top: 10px;
  float: left; }

/* line 45, all.css.scss */
.likes-and-comments {
  background: white url(../images/likes-and-comments.jpg) 0 0 no-repeat;
  overflow: hidden;
  background-size: 100% auto;
  width: 320px;
  float: left;
  height: 0;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3), inset 0 0 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s height ease-out; }

/* line 55, all.css.scss */
.likes-and-comments.open {
  height: 105px; }

/* Tab Bar */
/* line 60, all.css.scss */
footer {
  width: 320px;
  height: 49px;
  position: fixed;
  bottom: 0;
  background: white url(../images/bg-tab-bar.png) 0 0 no-repeat;
  overflow: hidden;
  background-size: 100% auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.2); }
  /* line 69, all.css.scss */
  footer .btn {
    width: 64px;
    height: 49px;
    float: left; }
  /* line 74, all.css.scss */
  footer.map {
    background: white url(../images/bg-tab-bar.png) 0 -49px no-repeat; }
  /* line 77, all.css.scss */
  footer.activity {
    background: white url(../images/bg-tab-bar.png) 0 -98px no-repeat; }
  /* line 80, all.css.scss */
  footer.profile {
    background: white url(../images/bg-tab-bar.png) 0 -147px no-repeat; }

/* Buttons */
/* line 86, all.css.scss */
.btn {
  /*background-color: rgba(255,0,0,0.3);*/
  font-size: 0;
  color: transparent;
  display: inline-block; }
