/* Five Columns */
@media only screen and (min-width: 1449px) {

  body > * {width: 1296px;}

  #header, .project, .project-nav {width: 1264px;}

  .featured {width: 1264px; max-height: 695px;}
  .featured img,
  .featured video {
    /* Override JS */
    top: 0 !important;
    left: -131px !important;
    height: 695px !important;
    width: 1527px !important;
  }
  .featured > div > * {
    padding-left: 16px;
    padding-right: 1008px;
  }

  .work {width: 1280px;}

  .project .full      {width: 1280px;}
  .project .side      {width: 1008px;}
  .project .half      {width: 624px;}
  .project .site-plan {width: 752px;}

  #info,
  #copyright {width: 1296px;}
  #info .txt.grid4 {width: 496px;}
  #info .txt.grid1,
  #info .txt.grid2 {width: 368px;}

}
