// Copyright
#copyright {
  display: block;
  padding-left: 32px;
  margin-bottom: 40px;
  color: $shade-2;
  clear: both;
  width: 784px;
  a,
  a:link,
  a:visited {
    color: $shade-2;
    border-bottom: none;
  }
  a:hover,
  a:active,
  a:focus  {
    color: $key-color;
  }
}
