// Featured project
.featured {
  position: relative;
  display: block;
  overflow: hidden;
  /* Relative position to fix children absolute position*/
  margin: 0 auto 0;
  /* Display background while image loads */
  width: 100%;
  background-color: #303030;
  background-image: url(/media/graphics/spinner-dark.gif);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  img,
  video {
    position: relative;
    -webkit-transition-duration: 1.2s;
       -moz-transition-duration: 1.2s;
         -o-transition-duration: 1.2s;
            transition-duration: 1.2s;
    -webkit-transition-property: opacity;
       -moz-transition-property: opacity;
         -o-transition-property: opacity;
            transition-property: opacity;
  }
  img {
    z-index: 1;
  }
  video {
    z-index: 2;
  }
  div {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    display: block;
    overflow: visible;
    padding: 16px 0 40px;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    -webkit-transition-duration: 1.2s;
       -moz-transition-duration: 1.2s;
         -o-transition-duration: 1.2s;
            transition-duration: 1.2s;
    -webkit-transition-property: background-color, opacity;
       -moz-transition-property: background-color, opacity;
         -o-transition-property: background-color, opacity;
            transition-property: background-color, opacity;
    > * {
      margin: 0 auto;
      padding-right: 512px;
      width: 240px;
      -webkit-transition-duration: 0.3s;
         -moz-transition-duration: 0.3s;
           -o-transition-duration: 0.3s;
              transition-duration: 0.3s;
      -webkit-transition-property: padding-right, padding-left, width;
         -moz-transition-property: padding-right, padding-left, width;
           -o-transition-property: padding-right, padding-left, width;
              transition-property: padding-right, padding-left, width;
    }
  }
  div:hover {
    background-color: rgba(255,21,0,0.7);
    cursor: pointer;
    -webkit-transition-duration: 0.0s;
       -moz-transition-duration: 0.0s;
         -o-transition-duration: 0.0s;
            transition-duration: 0.0s;
  }
  h2 {
    padding-bottom: 8px;
    color: white;
  }
  p {
    background-image: url(/media/graphics/arrow.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    color: rgba(255,255,255,0.6);
  }
  a {
    display: inline;
    border: none;
    color: inherit;
    text-shadow: none;
  }
}

.featured:hover {
  /* Add pointing cursor when hovering the featured project */
  cursor: pointer;
}

body.ready {
  .featured {
    background-image: none;
    div {
      opacity: 1;
    }
  }
}

body.mobile-os {
  .featured > a > video {
    display: none;
  }
}

body.desktop-os {
  .featured > a > img {
    display: none;
  }
}