// Homepage
body#home {
  background-image: none;
}

#background {
  z-index: -1;
  position: absolute;
  img {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
  }
}
