// Images Grid System
.full,
.side,
.half,
.both,
.third {
  height: auto;
  margin-bottom: 60px;
}
.side,
.half,
.both,
.third {
  margin-left: 16px;
}
.full {
  // width: 1264px;
  width: 752px;
}
.side {
  // width: 1008px;
  width: 496px;
}
.half {
  width: 368px;
}
.both {
  // width:  752px;
  width: 496px;
}
.third {
  // width: 410px;
  width: 240px;
}
.right {
  float: right;
}
.left {
  float: left;
}
.clear {
  clear: both;
  margin-left: 0px;
}

.center {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#special-1 {
  /* Expresso Viagens / Align caption with display */
  margin-top: 150px;
}
#special-2 {
  /* Fractures from Anxiety / Move the books up */
  margin-top: -50px;
}
#special-3 {
  /* Index 7 / Move the iterations up */
  margin-top: -10px;
}

#special-4,
#special-5 {
  box-shadow: 0 1px 2px rgba(0,0,0,0.2),
              0 0   1px rgba(0,0,0,0.1),
              0 0   5px rgba(0,0,0,0.05);
}

.no-margin {
  margin-bottom: 15px;
}
