/* Reset Styles */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, address, cite,
code, del, dfn, em, img, ins, q,
small, strong, sub, sup,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
a img, a:link, a:visited, a:hover, a:active {
  font-family: "franklin-gothic-urw-1",
               "franklin-gothic-urw-2",
               "Franklin Gothic",
               "Franklin Gothic LT",
               "Franklin Gothic LT Com",
               "Franklin Gothic BT",
               "Helvetica Neue",
               Helvetica,
               Arial,
               sans-serif;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 18px;
  font-size: 14px;
  list-style-type: none;
  text-decoration: none;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
