html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, address, cite,
code, del, dfn, em, img, ins, q,
small, strong, sub, sup,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
a img, a:link, a:visited, a:hover, a:active {
  font-family: franklin-gothic-urw-1, franklin-gothic-urw-2, "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 18px;
  font-size: 14px;
  list-style-type: none;
  text-decoration: none;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

/*
----------------------------------------------------------
SASS Variables
----------------------------------------------------------
*/
/* Special Red */
/* Headers */
/* Body Text */
/* Notes */
/* Borders */
/*
----------------------------------------------------------
Base Styles
----------------------------------------------------------
*/
body {
  background-color: #FAFAFA;
  color: #444;
  /* Center the body's direct children on the page */
  /* Keep images propotional */
  /* Make these resize gracefully when the window resizes */ }
  body > * {
    margin: 0 auto 90px; }
  body img {
    width: auto;
    height: auto; }
  body > *, body img {
    -webkit-transition-property: width;
    -moz-transition-property: width;
    -o-transition-property: width;
    transition-property: width;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }

a,
a:link,
a:visited {
  display: inline-block;
  height: 15px;
  text-shadow: 1px 1px 0 #fafafa, 0 1px 0 #fafafa, -1px 1px 0 #fafafa, 2px 1px 0 #fafafa, 0 1px 0 #fafafa, -2px 1px 0 #fafafa;
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #999999;
  color: #999999;
  outline: none;
  -webkit-transition-property: color, border-bottom-color;
  -moz-transition-property: color, border-bottom-color;
  -o-transition-property: color, border-bottom-color;
  transition-property: color, border-bottom-color;
  -webkit-transition-duration: 1.2s;
  -moz-transition-duration: 1.2s;
  -o-transition-duration: 1.2s;
  transition-duration: 1.2s; }

a:hover,
a:active,
a:focus {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #ff1500;
  color: #ff1500;
  -webkit-transition-duration: 0.0s;
  -moz-transition-duration: 0.0s;
  -o-transition-duration: 0.0s;
  transition-duration: 0.0s; }

/* Disable clicking on the phone number */
a.tel {
  pointer-events: none;
  border: none; }

/* Let's customise the browser's selection color... */
::selection {
  background-color: #ff1500;
  background-color: rgba(255, 21, 0, 0.2); }

/* ...but hide it for some elements */
html::selection,
body::selection,
div::selection,
.slider::selection,
.slider::selection li,
.slider::selection li img,
.slider::selection li div,
.slider::selection
.flex-control-nav::selection,
.work h4::selection,
.work h4 a::selection,
.work p::selection {
  background-color: transparent; }

@font-face {
  font-family: 'Modern Pictograms';
  src: url("/webfonts/modernpics-webfont.eot");
  src: url("/webfonts/modernpics-webfont.eot?#iefix") format("embedded-opentype"), url("/webfonts/modernpics-webfont.woff") format("woff"), url("/webfonts/modernpics-webfont.ttf") format("truetype"), url("/webfonts/modernpics-webfont.svg#ModernPictogramsNormal") format("svg");
  font-weight: normal;
  font-style: normal; }

span.pictogram {
  font-family: 'Modern Pictograms';
  padding: 0 4px; }

/*
----------------------------------------------------------
Forms
----------------------------------------------------------
*/
input[type="email"] {
  font-family: franklin-gothic-urw-1, franklin-gothic-urw-2, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #444444;
  width: 239px;
  height: 31px;
  margin-top: 8px;
  padding: 0 8px;
  display: inline-block;
  float: left;
  /* Remove Firefox dotted outline */
  outline: none;
  /* Standard box color and no glow */
  border: 1px solid #E6E6E6;
  border-top: 1px solid #CCC;
  border-right: none;
  border-radius: none;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -webkit-transition-property: box-shadow, border-color;
  -moz-transition-property: box-shadow, border-color;
  -o-transition-property: box-shadow, border-color;
  transition-property: box-shadow, border-color;
  -webkit-transition-duration: 1.2s;
  -moz-transition-duration: 1.2s;
  -o-transition-duration: 1.2s;
  transition-duration: 1.2s;
  /* Override iOS input styles */
  -webkit-appearance: none;
  -webkit-border-radius: 0px; }

input[type="email"]:active,
input[type="email"]:focus {
  /* Animate box color and make it glow */
  border: 1px solid #ff1500;
  border-right: none;
  box-shadow: 0 0 6px rgba(255, 33, 0, 0.75);
  -webkit-transition-property: box-shadow, border-color;
  -moz-transition-property: box-shadow, border-color;
  -o-transition-property: box-shadow, border-color;
  transition-property: box-shadow, border-color;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s; }

/* Hide placeholder text when the email box is active... */
input[type="email"]:active::-webkit-input-placeholder,
input[type="email"]:focus::-webkit-input-placeholder {
  color: transparent; }

/* ...and display it in a nice shade of grey when not. */
input::-webkit-input-placeholder {
  color: #999999; }

::-webkit-input-placeholder {
  color: #999999; }

:-moz-placeholder {
  color: #999999; }

input[type="submit"] {
  font-family: franklin-gothic-urw-1, franklin-gothic-urw-2, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  width: 70px;
  height: 33px;
  margin-top: 8px;
  padding: 0 8px;
  display: inline-block;
  float: left;
  background-color: #BBB;
  border: 1px solid #BBB;
  border-bottom: 1px solid #999;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
  border-radius: none;
  /* Animate button color */
  -webkit-transition-property: background-color, border-color;
  -moz-transition-property: background-color, border-color;
  -o-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  -webkit-transition-duration: 1.2s;
  -moz-transition-duration: 1.2s;
  -o-transition-duration: 1.2s;
  transition-duration: 1.2s;
  /* Override iOS input styles */
  -webkit-appearance: none;
  -webkit-border-radius: 0px; }

input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #999;
  border: 1px solid #999;
  border-bottom: 1px solid #777;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  cursor: pointer; }

/*
----------------------------------------------------------
Nav & Footer
----------------------------------------------------------
*/
#header {
  display: block;
  width: 752px;
  margin: 25px auto 35px;
  overflow: hidden;
  -webkit-transition-property: width;
  -moz-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

#header h1 {
  float: left;
  color: #999999;
  font-style: normal; }

#header h1 em,
#header h1 em a {
  color: #444444 !important;
  font-style: normal;
  border: none !important;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 1.2s;
  -moz-transition-duration: 1.2s;
  -o-transition-duration: 1.2s;
  transition-duration: 1.2s; }

#header h1 em a:hover,
#header h1 em a:active,
#header h1 em a:focus {
  color: #ff1500 !important;
  -webkit-transition-duration: 0.0s;
  -moz-transition-duration: 0.0s;
  -o-transition-duration: 0.0s;
  transition-duration: 0.0s; }

#nav {
  float: right;
  margin-top: 18px; }

#nav li {
  float: left;
  display: inline-block;
  margin-left: 8px; }

#nav li:after {
  content: "/";
  color: #e0e0e0;
  margin-left: 8px; }

#nav li:last-child:after {
  content: ""; }

/*
----------------------------------------------------------
Homepage
----------------------------------------------------------
*/
#background {
  z-index: -1;
  position: absolute; }

#background img {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0px;
  left: 0px; }

.featured {
  display: block;
  width: 100%;
  height: 280px;
  margin: 0 auto 60px;
  /* Display background while image loads */
  background-color: #303030;
  overflow: hidden;
  /* Relative position to fix children absolute position*/
  position: relative; }

.featured img {
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none; }

.featured > div {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  overflow: visible;
  padding: 16px 0 40px;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 1.2s;
  -moz-transition-duration: 1.2s;
  -o-transition-duration: 1.2s;
  transition-duration: 1.2s; }

.featured > div:hover {
  background-color: #ff1500;
  background-color: rgba(255, 21, 0, 0.7);
  -webkit-transition-duration: 0.0s;
  -moz-transition-duration: 0.0s;
  -o-transition-duration: 0.0s;
  transition-duration: 0.0s;
  cursor: pointer; }

.featured > div > * {
  width: 240px;
  margin: 0 auto;
  padding-right: 256px;
  -webkit-transition-property: padding-right, width;
  -moz-transition-property: padding-right, width;
  -o-transition-property: padding-right, width;
  transition-property: padding-right, width;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.featured h2 {
  color: white;
  padding-bottom: 8px; }

.featured p {
  color: rgba(255, 255, 255, 0.6); }

/*
----------------------------------------------------------
Work
----------------------------------------------------------
*/
h3 {
  color: #999999;
  display: inline-block;
  float: left;
  clear: both;
  width: 207px;
  height: 140px;
  text-align: right;
  pointer-events: none;
  padding: 0 16px;
  margin: 0 8px 100px -248px;
  border-right: 1px solid #e0e0e0;
  line-height: 10px; }

#portfolio {
  padding-top: 40px; }

.work {
  width: 768px;
  margin: 0 auto 20px;
  padding: 0px 60px;
  overflow: hidden;
  -webkit-transition-property: width;
  -moz-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.work div {
  float: left;
  position: relative;
  margin: 0;
  padding: 0;
  width: 256px;
  height: 240px; }
  .work div h4 {
    padding: 145px 8px 0px;
    display: inline-block;
    width: 240px;
    float: left;
    clear: left; }
    .work div h4 a {
      color: #444444;
      display: inline-block;
      width: 240px;
      border: none;
      -webkit-transition-property: color;
      -moz-transition-property: color;
      -o-transition-property: color;
      transition-property: color;
      -webkit-transition-duration: 1.2s;
      -moz-transition-duration: 1.2s;
      -o-transition-duration: 1.2s;
      transition-duration: 1.2s; }
    .work div h4 a.active {
      color: #ff1500;
      -webkit-transition-duration: 0.0s;
      -moz-transition-duration: 0.0s;
      -o-transition-duration: 0.0s;
      transition-duration: 0.0s; }
  .work div > a {
    display: inline; }

.work div img,
.work div .cover {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 240px;
  height: 140px;
  background: transparent; }

.work div img {
  padding: 0px 8px 80px;
  z-index: 0; }

.work div .cover {
  margin: 0px 8px 80px 8px;
  pointer-events: none;
  background-color: #ff1500;
  z-index: 1; }

.work div p {
  color: #999999;
  padding: 0 8px;
  width: 240px;
  float: left; }

/*
----------------------------------------------------------
Project
----------------------------------------------------------
*/
.project-nav {
  width: 1008px;
  border-top: 1px solid #e0e0e0;
  height: 45px;
  margin: 26px auto 29px;
  padding: 7px 0 5px;
  -webkit-transition-property: width;
  -moz-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.project-nav > * {
  display: block;
  width: 240px;
  color: #999999; }

.project-nav > h2 {
  float: left;
  color: #444; }

.project-nav > span {
  float: right;
  clear: right; }

.project {
  overflow: visible; }

.txt {
  display: inline-block;
  float: left;
  width: 240px;
  padding: 0;
  margin-top: 5px;
  margin-right: 0;
  margin-bottom: 90px;
  margin-left: 16px;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  -o-column-count: 1;
  column-count: 1;
  -webkit-column-gap: 16px;
  -moz-column-gap: 16px;
  -o-column-gap: 16px;
  column-gap: 16px; }

.txt.col2 {
  width: 496px;
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -o-column-count: 2; }

.txt.col3 {
  width: 752px;
  column-count: 3;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -o-column-count: 3; }

.txt.col4 {
  width: 1008px;
  column-count: 4;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  -o-column-count: 4; }

.txt.col5 {
  width: 1264px;
  column-count: 5;
  -webkit-column-count: 5;
  -moz-column-count: 5;
  -o-column-count: 5; }

.txt.grid1 {
  width: 112px; }

.txt.grid2 {
  width: 240px; }

.txt.grid3 {
  width: 368px; }

.txt.grid4 {
  width: 496px; }

.site-plan {
  display: inline-block;
  float: left;
  border: 1px solid #CCC;
  /* Border Radius */
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  /* Box Shadow */
  box-shadow: 0 10px 25px #CCC;
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3); }

img,
video {
  display: inline-block;
  float: left;
  background-color: #FAFAFA; }

.side {
  width: 1008px;
  height: auto;
  margin-bottom: 90px;
  margin-left: 16px; }

.both {
  width: 720px;
  height: auto;
  margin-bottom: 90px; }

.full {
  width: 1264px;
  height: auto;
  margin-bottom: 16px; }

.half {
  width: 752px;
  height: auto;
  margin-bottom: 90px;
  margin-left: 16px; }

.third {
  width: 496px;
  height: auto;
  margin-bottom: 90px;
  margin-left: 16px; }

.fourth {
  width: 240px;
  height: auto;
  margin-bottom: 90px;
  margin-left: 16px; }

.clear {
  clear: left;
  margin-left: 0px; }

.center {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto; }

#special-1 {
  margin-top: 190px; }

/* Expresso Viagens / Align caption with display */
/*
----------------------------------------------------------
Info & Copyright
----------------------------------------------------------
*/
#info {
  overflow: hidden;
  margin-top: 110px;
  margin-bottom: 15px;
  clear: both; }

#info .txt {
  border-top: 1px solid #e0e0e0;
  min-height: 140px;
  padding-top: 14px;
  margin-top: 0;
  margin-bottom: 45px; }

#info h4,
#info h4 a {
  color: #444444;
  border: none;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 1.2s;
  -moz-transition-duration: 1.2s;
  -o-transition-duration: 1.2s;
  transition-duration: 1.2s; }

#info h4 a:hover {
  color: #ff1500;
  -webkit-transition-duration: 0.0s;
  -moz-transition-duration: 0.0s;
  -o-transition-duration: 0.0s;
  transition-duration: 0.0s; }

#info p,
#info li {
  color: #999999; }

#info .txt p {
  padding-right: 100px; }

#copyright {
  display: block;
  padding-left: 32px;
  margin-bottom: 40px;
  color: #999999;
  clear: both; }
  #copyright a, #copyright a:link, #copyright a:visited {
    color: #999999;
    border-bottom: none; }
  #copyright a:hover, #copyright a:active, #copyright a:focus {
    color: #ff1500; }

/*
----------------------------------------------------------
Columns - Dev only
----------------------------------------------------------
*/
#columns {
  position: fixed;
  width: 1328px;
  height: 100%;
  top: 0;
  left: 50%;
  padding: 0;
  margin-left: -664px;
  display: none;
  z-index: 10;
  pointer-events: none; }
  #columns * {
    display: block;
    float: left;
    width: 16px;
    height: 100%;
    background-color: #C1272D; }
  #columns *.thirty {
    opacity: 0.30; }
  #columns *.twenty {
    opacity: 0.20; }
  #columns *.three {
    opacity: 0.03; }
  #columns *.zero {
    opacity: 0.00; }

#columns-on:hover,
#columns-off:hover,
#baseline-on:hover,
#baseline-off:hover {
  cursor: pointer; }
