---
  title: Sophie Westerlind
  description: Design and development for the graphic designer and illustrator
---

<div class="project-nav">
  <h2>Sophie Westerlind</h2>
  <span>X of 29</span>
  <span>
    <a href="../miti-ruangkritya/">Previous</a> &thinsp;/&thinsp;
    <a href="../fractures-from-anxiety/">Next</a>
  </span>
</div>

<div class="project" id="sophie-westerlind">

  <img class="clear side" width="1008" height="917"
    src="/images/sophie-westerlind-screen.png">

</div>
