---
  title: A Year in an Instant
  description:
---

<div class="project-nav">
  <h2>A Year in an Instant</h2>
  <span>X of 23</span>
  <span>
    Previous &thinsp;/&thinsp;
    Next
  </span>
</div>

<div class="project" id="a-year-in-an-instant">

</div>
