---
  title: Jo Phipps
  description: Design & Development of the artist online portfolio
---

<div class="project-nav">
  <h2>Jo Phipps</h2>
  <span>X of 29</span>
  <span>
    <a href="../lilias-buchanan/">Previous</a> &thinsp;/&thinsp;
    <a href="../stethoscore/">Next</a>
  </span>
</div>

<div class="project" id="jo-phipps">

  <!-- Work goes here -->

</div>
