---
  title: Jo Phipps
  description: Design & Development of the artist online portfolio
---

<div class="project-nav">
  <h2>Jo Phipps</h2>
  <span>X of 23</span>
  <span>
    Previous &thinsp;/&thinsp;
    Next
  </span>
</div>

<div class="project" id="jo-phipps">

  <!-- Work goes here -->

</div>
