---
  title: Ailara Berdyyeva
  description: Identity, print, photography and web design for the textile designer webfolio
---

<div class="project-nav">
  <h2>Ailara Berdyyeva</h2>
  <span>X of 23</span>
  <span>
    Previous &thinsp;/&thinsp;
    Next
  </span>
</div>

<div class="project" id="ailara-berdyyeva">

  <img class="clear side" width="1008" height="917"
    src="/images/ailara-berdyyeva-screen.png" >

</div>
